@import url(variables.css);

.marquee-container {
    position: relative;
    top: -1px;
    display: block;
    width: 100%;
    overflow: hidden;
    background-color: var(--variable-collection-cream);
    padding: 29px 0;
}

.scrolling-wrapper {
    display: flex;
    width: max-content;
    animation: scroll 30s linear infinite;
}

.text-group {
    display: flex;
    align-items: center;
    white-space: nowrap;
    flex-shrink: 0;
}

.text-group span {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 700;
    font-size: 72px;
    color: var(--variable-collection-green);
}

.text-group .star {
    color: var(--variable-collection-orange);
    margin: 0 20px;
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}