.frame {
  position: relative;
  width: 100%;
  height: 698px;
  background-color: var(--variable-collection-golden-yellow);
}

.frame .vector {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 698px;
}

.frame .screenshot {
  position: absolute;
  top: 0;
  left: 906px;
  width: 541px;
  height: 698px;
  aspect-ratio: 0.69;
  object-fit: cover;
}

.frame .text-wrapper {
  position: absolute;
  top: 70px;
  left: calc(50.00% - 552px);
  width: 837px;
  font-family: "Bricolage Grotesque-Bold", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-white);
  font-size: 300px;
  letter-spacing: -15.00px;
  line-height: 300px;
  white-space: nowrap;
}

.frame .div {
  position: absolute;
  top: 308px;
  left: calc(50.00% - 358px);
  font-family: "Bricolage Grotesque-Bold", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-white);
  font-size: 300px;
  letter-spacing: -18.00px;
  line-height: 300px;
  white-space: nowrap;
}

.frame .div-wrapper {
  display: flex;
  width: 200px;
  height: 200px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 373px;
  left: 222px;
  background-color: #f28221;
  border-radius: 1000px;
}

.frame .text-wrapper-2 {
  display: flex;
  position: absolute;
  width: 200px;
  height: 200px;
  font-family: "Bricolage Grotesque-Bold", Helvetica;
  font-weight: 700;
  color: #411508;
  font-size: 100px;
  align-items: center;
  justify-content: center;
  top: 373px;
  left: 222px;
  letter-spacing: -5.00px;
  line-height: 100px;
  white-space: nowrap;
  background-color: #f28221;
  border-radius: 1000px;
}

.team__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
  position: relative;
  background-color: var(--variable-collection-cream);
}

.team__section .team__div {
  display: inline-flex;
  height: 353px;
  align-items: flex-start;
  justify-content: flex-end;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.team__section .team__quote {
  position: relative;
  width: 538px;
  height: 217px;
  font-family: "Geist-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--variable-collection-green);
  font-size: 40px;
  letter-spacing: -0.80px;
  line-height: 52.0px;
}

.team__section .text-main {
  color: #2d6e63;
  letter-spacing: -0.32px;
}

.team__section .cut {
  color: #f28221;
  letter-spacing: -0.32px;
}

.team__section .text-quote-mark {
  position: absolute;
  top: -119px;
  left: -19px;
  width: 173px;
  font-family: "Geist-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--variable-collection-green);
  font-size: 400px;
  letter-spacing: -8.00px;
  line-height: 519.6px;
  white-space: nowrap;
}

.team__section .afrivibe-is-the-wrapper {
  display: flex;
  width: 662px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 100px 70px;
  align-self: stretch;
  background-color: #411508;
  flex-direction: column;
  position: relative;
}

.team__section .afrivibe-is-the {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Geist-SemiBold", Helvetica;
  font-weight: 600;
  color: #fff4dd;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}
