:root {
  --variable-collection-green: rgba(45, 110, 99, 1);
  --variable-collection-golden-yellow: rgba(247, 182, 51, 1);
  --variable-collection-white: rgba(255, 255, 255, 1);
  --variable-collection-charcoal: rgba(65, 64, 66, 1);
  --variable-collection-orange: rgba(242, 130, 33, 1);
  --variable-collection-cream: rgba(255, 245, 221, 1);
  --variable-collection-brown: rgba(65, 21, 8, 1);
  --variable-collection-charcoal-40: rgba(65, 64, 66, 0.4);
  --black-sec-text: rgba(0, 0, 0, 0.6);
  --black: rgba(0, 0, 0, 1);
  --black-stroke-regular-caption: rgba(19, 19, 19, 0.1);
}
